@import "../Vars.scss";

.footer-down-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.footer-down-cards-container {
  display: flex;
}
.footer-down-right-elements {
  width: 25%;
  text-align: right;
}
.FooterDown__rightTitle {
  padding-top: 23px;
  color: $footer-normal-color;
  font-size: small;
  // letter-spacing: 1.5px;
}
