@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap);

$first-font: "Roboto", sans-serif;
$second-font: "Montserrat", sans-serif;

$ingenia-orange: rgb(237, 93, 26);

$footer-bg-color: rgb(244, 244, 244);
$footer-normal-color: rgb(119, 119, 119);
